.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
}

.content-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.content-evenly{
    justify-content: space-evenly;
}

.content-end{
    justify-content: flex-end;
}